.icon.tab_index.border_tint
  %ul.tab_nav
    %li
      = link_to "<span class='imskin'>好友帖子</span>", jia_topic_index_path, :class=>'imskin'
    %li.current
      = link_to "<span class='imskin'>我的帖子</span>", my_topics_jia_topic_path, :class=>'imskin'
    %li
      = link_to "<span class='imskin'>我的收藏</span>", my_favorites_jia_topic_path, :class=>'imskin'
  .tab_subnav.border_deep
    %ul
      %li.icon
        %span.icon.tab_current
          = link_to '发起的帖子', my_topics_jia_topic_path
      %li.icon
        %span
          = link_to '回复的帖子', my_posts_jia_topic_path
      %li.icon
        %span
          = link_to '评过分的帖子', my_rates_jia_topic_path
