#bottomInfo
  .bottomInfo
    = link_to '公司简介', '#'
    |
    = link_to '产品和服务', '#'
    |
    = link_to '合作伙伴', '#'
    |
    = link_to '团队建设', '#'
    |
    = link_to '诚聘英才', '#'
    |
    = link_to '联系我们', '#'
    |
    = link_to '帮助中心', '#'
    |
    = link_to '友情链接', '#'
    |
  .bottomcopyright
    &copy; 2005-2009 PopMao.com. All rights reserved. 江苏晨晖科技技术有限公司 [ 苏ICP备05083840号 ]

