%ul.sup_nav
  %li.icon.nav_broad
    = link_to '磨叽', jia_talk_index_path
  %li.icon.nav_diary
    = link_to '博客', '#'
  -#
    %li.icon.nav_photo
      = link_to '相册', '#'
  %li.icon.nav_topic
    = link_to '帖子', jia_topic_index_path
  %li.icon.nav_gift
    = link_to '资料', jia_account_index_path
  -#
    %li.icon.nav_gift
      = link_to '礼物', '#'

