!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %link{:href=>"/images/favicon.ico", :rel=>"shortcut icon"}
    %title 登录_江海社区
    = stylesheet_link_tag 'popmao_ui09_09', 'login'
    = javascript_include_tag :defaults
    = init_tinymce_hammer_if_required
  %body
    = render :partial => 'layouts/login_top'
    = yield
    = render :partial => "layouts/footer"
