!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %link{:href=>"/images/favicon.ico", :rel=>"shortcut icon"}
    %title #{set_title}
    = stylesheet_link_tag 'popmao_ui09_09', 'public', 'viewthread'
    = stylesheet_link_tag 'register' if @controller.controller_name.downcase == 'users' and @controller.action_name.downcase == 'new'
    = javascript_include_tag :defaults
    = init_tinymce_hammer_if_required
  %body
    - if current_user
      = render :partial => 'layouts/show_topic_top'
    - else
      = render :partial => 'layouts/show_topic_top_not_login'
    = yield
    = render :partial => "layouts/footer"
